# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# IDE
.idea/
.vscode/

# Optional
.npm
.eslintcache